@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Doto:wght@100..900&family=Ga+Maamli&family=Sankofa+Display&family=Special+Elite&family=Syne+Mono&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .drop a{
       font-size: 1rem;
       padding: 5px;
    }
    .loginDiv {
        background: linear-gradient(
          90deg,
          rgb(64, 90, 90) 43%,
          rgb(21, 70, 90) 100%
        );
        @apply flex justify-center items-center min-h-screen;
      }
      .login-input {
        height: 2.3rem;
        border-radius: 0.4rem;
        border: 1px solid rgb(139, 174, 174);
        padding: 0.6rem;
        @apply focus:outline-blue-400 focus:caret-slate-500;
      }
      .login-input::placeholder {
        color: rgb(183, 197, 197) ;
        font-size: 0.7rem;
      }
      .log{
        border: 1px solid rgb(162, 162, 206);
        padding: 3px;
        border-radius: 5px;
        background-color:rgb(192, 206, 206)
      }
    }